:root{
    --cor-textos-fundo-branco: 
    #0B1421;
    --sombra-das-imagens-de-fundo: rgba(3,0,12,0.7);
    --cor-textos-branco: #fff;
    --cor-de-fundo-botao: #da2535;
    --cor-paragrafo-citacao-neymar-footer: #f9f9f9;
    --cor-de-fundo-footer: #0B1421;
    --hover-links: #3092C4;
    --cor-textos-parc-des-princes: 
    #515151;
    --cor-data-da-noticia:rgba(11, 20, 33, 0.45);
}