@media(max-width: 1040px){
    .footer .nav-footer{
        margin: 3.5rem 0 0 5rem;
    }
}

@media(max-width: 890px){
    .resultados{
        gap: 1.5rem;
    }

    .resultados .nome-dos-times{
        font-size: 1.5rem;
    }
      
    .resultados  .placar-do-jogo, .traco-do-placar{
        font-size: 2.25rem;
    }

    .footer .nav-footer{
        margin: 3.5rem 0 0 1.5rem;
    }
}

@media(max-width: 720px){
    .footer{
        height: 37rem;
        grid-template-columns: repeat(2, 16rem);
      }
}

@media(max-width: 735px){
    .neymar-meio-container .meio-neymar .titulo-ney{
        font-size: 3.25rem;
    }

    .neymar-meio-container .meio-neymar .citacao-ney{
        font-size: 0.94rem;
    }

    .neymar-meio-container .meio-neymar .btn-ler-materia{
        padding: 0.525rem;
        width: 9rem;
      }
}

@media(max-width: 590px){
    .resultados{
        gap: 1rem;
    }

    .resultados .nome-dos-times{
        display: none;
    }

    .footer{
        height: 50rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media(max-width: 500px){
    .background-neymar{
        background: url(/src/Image/wallpaper-mobile.png) no-repeat center;
        background-size: cover;
        height: 31.25rem;
    }
}

@media(max-width: 425px){
    .neymar-meio-container .meio-neymar .titulo-ney{
        font-size: 2.5rem;
    }

    .neymar-meio-container .meio-neymar .citacao-ney{
        font-size: 1rem;
    }

    .neymar-meio-container .meio-neymar .btn-ler-materia{
        width: 19.5rem;
        height: 2.563rem;
        border-radius: 0.25rem;
        margin-top: 2.5rem;
        font-size: 0.875rem;
      }

    .footer .nav-footer h4{
        font-size: 1.125rem;
    }

    .footer .nav-footer .ul-nav-footer li a{
        font-size: 1rem;
      }
}

@media(max-width: 393px){
    .neymar-meio-container{
        margin: 12% 0 0 10%;
    }
}

@media(max-width: 375px){
    .neymar-meio-container{
        margin: 12% 0 0 9%;
    }
}

@media(max-width: 360px){
    .neymar-meio-container{
        margin: 12% 0 0 7%;
    }
}

@media(max-width: 320px){
    .neymar-meio-container .meio-neymar .btn-ler-materia{
        width: 17rem;
    }
}