@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


.background-neymar{
  background: url(/src/Image/wallpaper.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  max-width: 100%;
}

.neymar-meio-container{
  margin-left: 14%;
  margin-top: 12%;
  max-width: 100%;
}

.neymar-meio-container .meio-neymar .titulo-ney{
  color: var(--cor-textos-branco);
  font-size: 4.25rem;
}

.neymar-meio-container .meio-neymar .citacao-ney{
  color: var(--cor-paragrafo-citacao-neymar-footer);
  font-size: 1.063rem;
  font-style: italic;
  font-weight: 500;
  margin-top: 1rem;
  line-height: 1.563rem;
}

/* .neymar-meio-container .meio-neymar a{
  background-color: var(--cor-de-fundo-botao);
  padding: 0.125rem;
  color: var(--cor-textos-branco);
  border-radius: 0.313rem;
  border: none;
  margin-top: 0.625rem;
} */

.neymar-meio-container .meio-neymar .btn-ler-materia{
  background-color: var(--cor-de-fundo-botao);
  padding: 0.625rem;
  color: var(--cor-textos-branco);
  border-radius: 0.313rem;
  border: none;
  margin-top: 3rem;
  cursor: pointer;
  width: 9.375rem;
}

.resultados{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  gap: 2.125rem;
}

.resultados .nome-dos-times{
  font-size: 2rem;
  color: var(--cor-textos-fundo-branco);
}

.resultados  .placar-do-jogo, .traco-do-placar{
  font-size: 3.875rem;
  color: var(--cor-textos-fundo-branco);
}

.background-estadio{
  background: url(/src/Image/wallapaper2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 80vh;
  width: 100%;
}
.background-white{
  background-color: #f9f9f9;
  position: absolute;
  padding: 3.125rem;
  top: 160%;
  width: 50rem;
  left: 11.5%;
  top: 150%;
}

.background-white h1{
  color: var(--cor-de-fundo-footer);
  margin-bottom: 0.625rem;
  border-left: solid 0.125rem var(--cor-de-fundo-botao);
}

.background-white p{
  font-size: 1.13rem;
  color: var(--cor-paragrafo-background-white);
  line-height: 0,625rem;
}

.background-white a{
  color: var(--cor-de-fundo-botao);
  font-weight: 600;
  font-size: 0.938rem;
}



.cards p{
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--cor-de-fundo-botao);
}

.cards span{
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--cor-background-white-h1);
}

.cards h4{
  font-size: 0.8rem;
}

.equipe-principal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem;
  gap: 1.5rem;
  
}

.noticias h1{
  margin-top: 5rem;
  margin-left: 6rem;
  border-left: solid 0.125rem var(--cor-de-fundo-botao);
}
 
  

 

.footer{
  width: 100%;
  height: 27rem;
  display: grid;
  grid-template-columns: repeat(3, 16rem);
  background-color: var(--cor-de-fundo-footer);
  color: var(--cor-paragrafo-citacao-neymar-footer);
}

.footer .nav-footer{
  margin: 3.5rem 0 0 21.625rem;
  width: 11rem;
}

.footer .nav-footer h4{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer .nav-footer .ul-nav-footer li a{
  line-height: 2.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
}

.footer .nav-footer .ul-nav-footer li a:hover{
  color: var(--hover-links);
  transition: 0.3s ease-in-out;
  font-weight: 700;
}