@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


.background-neymar{
  background: url(/src/Image/wallpaper-desktop.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  max-width: 100%;
}

.neymar-meio-container{
  margin: 12% 0 0 14%;
  max-width: 100%;
}

.neymar-meio-container .meio-neymar .titulo-ney{
  color: var(--cor-textos-branco);
  font-size: 4.25rem;
}

.neymar-meio-container .meio-neymar .citacao-ney{
  color: var(--cor-paragrafo-citacao-neymar-footer);
  font-size: 1.063rem;
  font-style: italic;
  font-weight: 500;
  margin-top: 1rem;
  line-height: 1.563rem;
}

.neymar-meio-container .meio-neymar .btn-ler-materia{
  width: 10.125rem;
  height: 2.875rem;
  background-color: var(--cor-de-fundo-botao);
  color: var(--cor-textos-branco);
  border-radius: 0.313rem;
  border: none;
  margin-top: 3rem;
  cursor: pointer;
  font-size: 1.125rem;
}

.resultados{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  gap: 2.125rem;
}

.resultados .nome-dos-times{
  font-size: 2rem;
  color: var(--cor-textos-fundo-branco);
}

.resultados  .placar-do-jogo, .traco-do-placar{
  font-size: 3.875rem;
  color: var(--cor-textos-fundo-branco);
}

.background-estadio{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/src/Image/wallapaper2.png) no-repeat center;
  background-size: cover;
  max-width: 100%;
  height: 80vh;
  width: 100%;
}
.background-estadio .background-white{
  background-color: var(--cor-paragrafo-citacao-neymar-footer);
  padding: 3.125rem;
  width: 50rem;
}

.background-estadio .background-white .detalhe-e-titulo{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.background-estadio .background-white .detalhe-e-titulo .traco-detalhe{
  width: 0.2rem;
  height: 1.25rem;
  background-color: var(--cor-de-fundo-botao);
}

.background-estadio .background-white .detalhe-e-titulo h1{
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--cor-textos-fundo-branco);
}

.background-estadio .background-white p{
  font-size: 1.125rem;
  color: var(--cor-textos-parc-des-princes);
  line-height: 1.938rem;
  margin-bottom: 2.25rem;
}

.background-estadio .background-white a{
  color: var(--cor-de-fundo-botao);
  font-weight: 600;
  font-size: 1.1rem;
}

.noticias{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;
}

.noticias .traco-ultimas-noticias{
  margin-right: 61.5%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.noticias .traco-ultimas-noticias .traco-detalhe-noticias{
  width: 0.2rem;
  height: 1.25rem;
  background-color: var(--cor-de-fundo-botao);
}

.noticias .traco-ultimas-noticias .titulo-ultimas-noticias{
  color: var(--cor-textos-fundo-branco);
  font-size: 1.6rem;
  font-weight: 600;
}

.noticias .equipe-principal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem 0;
  gap: 1.5rem;
}

.noticias .equipe-principal .cards .noticia-mais-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.noticias .equipe-principal .cards .noticia-mais-data p{
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--cor-de-fundo-botao);
}

.noticias .equipe-principal .cards .noticia-mais-data span{
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--cor-data-da-noticia);
}

.noticias .equipe-principal .cards h4{
  font-size: 1rem;
  font-weight: 500;
  color: var(--cor-textos-fundo-branco);
} 

.noticias .btn-carregar-mais{
  width: 10rem;
  height: 2.9rem;
  background-color: var(--cor-de-fundo-botao);
  border-radius: 0.25rem;
  color: var(--cor-textos-branco);
  font-size: 1rem;
  font-weight: 600;
}

.noticias .btn-carregar-mais:hover{
  width: 10.2rem;
  height: 3rem;
  color: var(--hover-links);
  transition: 0.2s ease-in-out;
}

.footer{
  width: 100%;
  height: 27rem;
  display: grid;
  grid-template-columns: repeat(3, 16rem);
  background-color: var(--cor-de-fundo-footer);
  color: var(--cor-paragrafo-citacao-neymar-footer);
}

.footer .nav-footer{
  margin: 3.5rem 0 0 21.625rem;
  width: 11rem;
}

.footer .nav-footer h4{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer .nav-footer .ul-nav-footer li a{
  line-height: 2.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
}

.footer .nav-footer .ul-nav-footer li a:hover{
  color: var(--hover-links);
  transition: 0.3s ease-in-out;
  font-weight: 700;
}